.about {
  padding: 70px 0;
}

.about__container {
  color: var(--color-text-bl, #383a4c);
}

.about__content {
  margin-bottom: 59px;
  text-align: center;
}

.about__content-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 28px;
}

.about__content-subtitle {
  margin-bottom: 35px;
  padding: 0 67px;
  display: inline-block;
  position: relative;
}

.about__content-subtitle::before,
.about__content-subtitle::after {
  content: '';
  width: 43px;
  height: 2px;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  background-color: var(--color-text-bl, #383a4c);
}
.about__content-subtitle::before {
  content: '';
  left: -3px;
}

.about__content-subtitle::after {
  content: '';
  right: 0;
}

.about__content-text {
  max-width: 725px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  counter-reset: count 0;
}

.about__item {
  counter-increment: count;
  flex-basis: 195px;
  height: 195px;
  position: relative;
  text-align: center;
}

.about__item::after {
  content: '';
  width: 122px;
  height: 122px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #23c7ec;
  border-radius: 50%;
  z-index: 1;
}

.about__item::before {
  content: counter(count, decimal);
  position: absolute;
  top: 37px;
  left: 49%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #fff;
  z-index: 10;
}

.about__item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1000px) {
  .about__list {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 50px 0;
  }

  .about__content-title {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 30px 0 60px;
  }

  .about__content-title {
    font-size: 20px;
    line-height: 23px;
  }

  .about__content-subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .about__content-subtitle::before,
  .about__content-subtitle::after {
    content: '';
    width: 20px;
    height: 1px;
  }

  .about__content-text {
    font-size: 12px;
    line-height: 17px;
  }

  .about__list {
    position: relative;
  }
}
