.feedback {
  padding: 70px 0;
  background-image: url('/img/jpg/form-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback__container {
  color: var(--color-text-wh, rgba(255, 255, 255, 0.75));
  position: relative;
  z-index: 10;
  text-align: center;
}

.feedback__title {
  padding-right: 26px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  margin-bottom: 19px;
}

.feedback__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 49px;
}

.feedback__form {
  display: block;
  margin-bottom: 52px;
}

.fieldset {
  max-width: 425px;
  margin: 0 auto 51px;
}

.fieldset__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  background: none;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.fieldset__input::placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.fieldset__input:not(:last-child) {
  margin-bottom: 18px;
}

.feedback__btn {
  padding: 12px 38px;
  font-weight: 500;
  background-color: #15a9cb;
  border: none;
  color: #fff;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
}

.feedback__link {
  color: #4a76a8;
  text-decoration: underline;
}

@media (max-width: 1356px) {
  .feedback__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .feedback__subtitle,
  .feeback__input {
    font-size: 18px;
    line-height: 23px;
  }

  .feedback__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .feedback {
    padding: 70px 0 57px;
  }
  .feedback__title {
    padding-right: 0;
  }

  .feedback__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .fieldset {
    margin: 0 auto 45px;
    max-width: 379px;
  }

  .fieldset__input {
    padding: 8px 18px;
  }
  .fieldset__input:not(:last-child) {
    margin-bottom: 16px;
  }

  .feedback__btn {
    padding: 15px 38px;
    font-size: 20px;
    line-height: 19px;
    text-transform: lowercase;
  }

  .feedback__text {
    font-size: 17px;
  }
  .feedback__form {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .feedback {
    padding: 30px 0;
  }

  .container .feedback__container {
    padding: 0 15px;
  }

  .feedback__title {
    font-size: 20px;
    line-height: 20px;
    padding-right: 0;
  }

  .feedback__subtitle {
    margin-bottom: 35px;
  }

  .feedback__subtitle,
  .feeback__input {
    font-size: 12px;
    line-height: 12px;
  }
  .fieldset {
    max-width: 425px;
    margin: 0 auto 30px;
  }

  .fieldset__input {
    padding: 1px 25px;
    border: 1px solid;
    margin-bottom: 15px;
    height: 28px;
  }

  .fieldset__input:not(:last-child) {
    margin-bottom: 15px;
  }
  .fieldset__input::placeholder {
    font-size: 14px;
  }

  .feedback__input-wrapper {
    max-width: 290px;
  }

  .feedback__text {
    font-size: 11px;
    line-height: 13px;
  }

  .feedback__btn {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 19px;
  }
  .feedback__form {
    margin-bottom: 28px;
  }
}
